.App-Grid {
  background-color: orange;
  height: 90vmin;
  display: flex;
  flex: content;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.App-form {
  background-color: cornsilk;
  height: 10vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
}

p {
  color: black;
  font-size: 2rem;
}
