.App-Grid {
  background-color: orange;
  height: 100vmin;
  display: flex;
  flex: content;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: space-around;
}
.App-form {
  background-color: cornsilk;
  height: 10vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
}

p {
  color: black;
  font-size: 2rem;
}
