.Maze-Grid {
  display: flex;
  flex: content;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 42.2vmin;
  width: 42.2vmin;
  background-color: white;
  flex-wrap: wrap;
}
